[submodule "Vendor/HtmlPurifier"]
	path = Vendor/HtmlPurifier
	url = git://repo.or.cz/htmlpurifier.git
[submodule "Plugin/AuditLog"]
	path = Plugin/AuditLog
	url = git@github.com:jasonsnider/CakePHP-Audit-Log-Plugin.git
[submodule "Plugin/Users"]
	path = Plugin/Users
	url = git@github.com:jasonsnider/cakephp-users-plugin.git
[submodule "Plugin/Utilities"]
	path = Plugin/Utilities
	url = git@github.com:jasonsnider/cakephp-utilities-plugin.git
[submodule "Plugin/Contents"]
	path = Plugin/Contents
	url = git@github.com:jasonsnider/cakephp-contents-plugin.git
[submodule "View/Themed/Parbake"]
	path = View/Themed/Parbake
	url = git@github.com:jasonsnider/cakephp-parbake-theme.git
[submodule "View/Themed/ParbakeBootstrap"]
	path = View/Themed/ParbakeBootstrap
	url = git@github.com:parbake/ParbakeBootstrap-theme.git
