[submodule "Vendors/HtmlPurifier"]
	path = Vendors/HtmlPurifier
	url = git://repo.or.cz/htmlpurifier.git
[submodule "Plugin/AuditLog"]
	path = Plugin/AuditLog
	url = git@github.com:jasonsnider/CakePHP-Audit-Log-Plugin.git
